/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-25-2021, 06:29:17 PM
    Author     : dougl
*/

.accionBlog{
    width: 250px;
}

/*ESTILOS PARA EL TEXAREA*/
#message-text{
    height: 110px !important;
}

.ck-editor__editable 
{
    min-height: 360px !important;
    color:black !important;
}

/*PARA OCULTAR EL CONTENIDO DE BLOG EN LA PAGINA BLOG
YA QUE SOLO SE REQUIERE PARA CARGAR EL TEXTAREA*/
#contenido{
    display: none;
}

.imgCenter{
    display: block;
    margin: 0 auto;
}
